{% load i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ed McDonagh">
    <meta name="copyright" content="2013-2017 The Royal Marsden NHS Foundation Trust">
    <meta name="licence" content="GPLv3">
    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

    <title>OpenREM Browser</title>

    <script src="{{ STATIC_URL }}js/jquery-1.11.0.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/openrem.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/openrem-extra.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}js/html5shiv.min.js"></script>
      <script src="{{ STATIC_URL }}js/respond.min.js"></script>
    <![endif]-->

    {% block headextras %}
    {% endblock %}

  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{%  url 'home' %}">OpenREM</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% block navbar %}
                {% if request.user.userprofile.displayCT %}
                    {% block navct %}
                        <li>{% endblock %}<a href="{% url 'ct_summary_list_filter' %}">{% trans "CT" %}</a></li>
                {% endif %}
                {% if request.user.userprofile.displayRF %}
                    {% block navrf %}
                        <li>{% endblock %}<a href="{% url 'rf_summary_list_filter' %}">{% trans "Fluoroscopy" %}</a></li>
                {% endif %}
                {% if request.user.userprofile.displayMG %}
                    {% block navmg %}
                        <li>{% endblock %}<a href="{% url 'mg_summary_list_filter' %}">{% trans "Mammography" %}</a></li>
                {% endif %}
                {% if request.user.userprofile.displayDX %}
                    {% block navdx %}
                        <li>{% endblock %}<a href="{% url 'dx_summary_list_filter' %}">{% trans "Radiography" %}</a></li>
                {% endif %}
            {% endblock %}
          </ul>
          {% block loginlink %}
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                {% if admin.importsizegroup or admin.importqrgroup or admin.admingroup %}
                    {% block importnav %}
                    <li class="dropdown">
                    {% endblock %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {% trans "Imports" %} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if admin.importsizegroup %}
                            <li><a href="{% url 'size_upload' %}">{% trans "Import patient size info" %}</a></li>
                            {% endif %}
                            {% if admin.importsizegroup or admin.admingroup %}
                            <li><a href="{% url 'size_imports' %}">{% trans "Previous patient size imports" %}</a></li>
                            {% endif %}
                            {% if admin.importqrgroup %}
                            <li><a href="{% url 'dicom_qr_page' %}">{% trans "Query remote server" %}</a> </li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                {% if admin.exportgroup %}
                    {% block exportnav %}
                        <li>
                    {% endblock %}
                        <a href="{% url 'export' %}">{% trans "Exports" %}</a></li>
                {% endif %}

                {% block confnav %}
                <li class="dropdown">
                {% endblock %}
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> {% trans "Config" %} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="dropdown-header">{% trans "User level config" %}</li>
                      <li><a href="{% url 'chart_options_view' %}">{% trans "Chart options" %}</a></li>
                      <li><a href="{%  url 'charts_toggle' %}">
                          {% if request.user.userprofile.plotCharts %}
                              {% trans "Switch charts off" %}
                          {% else %}
                              {% trans "Switch charts on" %}
                          {% endif %}
                      </a></li>
                      {% if not admin.admingroup %}
                        <li><a href="{% url 'display_names_view' %}">{% trans "View display names & modality" %}</a></li>
                        <li><a href="{% url 'not_patient_indicators' %}">{% trans "View not-patient indicators" %}</a></li>
                      {% endif %}

                      {% if home_config.display_workload_stats or admin.admingroup %}
                        <li><a href="{% url 'homepage_options_view' %}">{% trans "Home page options" %}</a></li>
                      {% endif %}

                      {% if admin.admingroup %}
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">{% trans "System level settings" %}</li>
                        <li><a href="{% url 'admin:auth_user_changelist' %}">{% trans "Users" %}</a></li>
                        <li><a href="{% url 'display_names_view' %}">{% trans "Display names & modality" %}</a></li>
                        <li><a href="{% url 'dicom_delete_settings_update' 1 %}">{% trans "DICOM object deletion" %}</a> </li>
                        <li><a href="{% url 'dicom_summary' %}">{% trans "DICOM networking" %}</a></li>
                        <li><a href="{% url 'patient_id_settings_update' 1 %}">{% trans "Patient ID" %}</a> </li>
                        <li><a href="{% url 'not_patient_indicators' %}">{% trans "Not-patient indicators" %}</a> </li>
                        <li><a href="{% url 'skin_dose_map_settings_update' 1 %}">{% trans "Skin dose map" %}</a> </li>
                        <li><a href="{% url 'rf_alert_settings_update' 1 %}">{% trans "Fluoro alert levels" %}</a> </li>
                        <li><a href="{% url 'rf_alert_notifications_view' %}">{% trans "Fluoro alert notification" %}</a> </li>
                        <li><a href="{% url 'celery_admin' %}">{% trans "Tasks" %}</a></li>
                      {% endif %}
                    </ul>
                </li>
            {% endif %}


            {% block usernav %}
                <li class="dropdown">
            {% endblock %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    {% if user.is_authenticated %}
                        {{ user.get_full_name }}
                    {% else %}
                        {% trans "User" %}
                    {% endif %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'password_change' %}">{% trans "Change password" %}</a></li>
                        <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">
                            {% trans "Login" %}</a>
                        </li>
                    {% endif %}
                </ul>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> {% trans "Docs" %} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a
                    href="http://docs.openrem.org/en/{{ admin.docsversion }}/"
                    target="_blank" data-toggle="tooltip"
                    title="{% trans "OpenREM documentation - opens in a new tab" %}">
                {% blocktrans with admin.docsversion as docsversion trimmed %}
                OpenREM Documentation ({{ docsversion }})
                {% endblocktrans %}
            </a>
        </li>
              {% block navhelp %}
              {% endblock %}
    </ul>
</li>
          </ul>
          {% endblock %}
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container-fluid">
      <div class="openrem-toprow">
        {% block toprow %}
        {% endblock %}
      </div>
      {% block messages %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{% if message.level == 40 %}danger{% elif message.level == 30 %}warning{% elif message.level == 25 %}success{% elif message.level == 20 %}info{% endif %} alert-dismissible fade in">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% if message.level == 40 %}<strong>Warning!</strong>{% endif %}
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
      {% endblock %}

      {% block mainblock %}
      {% endblock %}

      <hr>
      <footer>
{% if admin.openremversion %}
        <p>OpenREM version {{ admin.openremversion }} is &copy; 2013-2020 The Royal Marsden NHS Foundation Trust</p>
{% else %}
        <p>OpenREM is &copy; 2013-2020 The Royal Marsden NHS Foundation Trust</p>
{% endif %}
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

    {% block jsblock %}
    {% endblock %}

  </body>
</html>
