<table class="table sortable" id="{{ type }}">
  <tr>
    <th id="uuid_{{ type }}" onclick="updateSort(this.id, 'user_click');" style="width: 15%">UUID</th>
    <th id="source_{{ type }}" onclick="updateSort(this.id, 'user_click');" style="width: 15%">Source</th>
    <th id="result_{{ type }}" onclick="updateSort(this.id, 'user_click');" style="width: 15%">Result</th>
    <th id="task_{{ type }}" onclick="updateSort(this.id, 'user_click');" style="width: 19%">Task</th>
    <th id="received_{{ type }}" onclick="updateSort(this.id, 'user_click');" style="width: 13%">Received</th>
    <th id="started_{{ type }}" onclick="updateSort(this.id, 'user_click');" style="width: 13%">Started</th>
    <th id="state_{{ type }}" onclick="updateSort(this.id, 'user_click');">State</th>
  </tr>
  {% for task in tasks %}
    <tr>
      <td>{{ task.uuid }}</td>
      <td>{{ task.source|safe }}</td>
      <td>{{ task.result|safe }}</td>
      <td>{{ task.name }}</td>
      <td sorttable_customkey="{{ task.received_delta_s }}">{{ task.received }}</td>
      <td sorttable_customkey="{{ task.started_delta_s }}">{{ task.started }}</td>
      <td>{{ task.state }}</td>
    </tr>
  {% endfor %}
</table>

<script>
    $(document).ready(function () {
        document.getElementById("{{ type }}")
        var taskTable{{ type }} = document.getElementById("{{ type }}");
        sorttable.makeSortable(taskTable{{ type }});
        updateSort(sort_info_{{ type }}.heading);
    });
</script>


