<table class="table">
  <tr>
    <th>UUID</th>
    <th>Source</th>
    <th>Message</th>
    <th>Task</th>
    <th>Received</th>
    <th>Started</th>
    <th>Current state</th>
    <th>Terminate</th>
  </tr>
  {% for task in tasks %}
    <tr>
      <td>{{ task.uuid }}</td>
      <td>{{ task.source|safe }}</td>
      <td>{{ task.result|safe }}</td>
      <td>{{ task.name }}</td>
      <td>{{ task.received }}</td>
      <td>{{ task.started }}</td>
      <td>{{ task.state }}</td>
      <td>
        {% if task.state == 'STARTED' %}
          <a class="btn btn-danger" href="{% url 'celery_abort' task_id=task.uuid type=task.type %}" role="button">
            Terminate task
          </a>
        {% else %}
          <a class="btn btn-default" disabled="disabled">Terminate task</a>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
  </table>
