{% extends "remapp/base.html" %}

{% block navct%}<li class="active">{% endblock %}


{% block mainblock %}
<h1>Detail list of events</h1>
{% with patientstudy=generalstudymoduleattr.patientstudymoduleattr_set.get %}
{% with equipment=generalstudymoduleattr.generalequipmentmoduleattr_set.get %}
{% with accum_dose=generalstudymoduleattr.ctradiationdose_set.get.ctaccumulateddosedata_set.get %}
  <ul>
    <li>
        Accession number:
        {% if not generalstudymoduleattr.accession_hashed %}
            {{ generalstudymoduleattr.accession_number }}
        {% else %}
            <i>hidden</i>
        {% endif %}
    </li>
    <li>Study date: {{ generalstudymoduleattr.study_date }}</li>
    <li>Study time: {{ generalstudymoduleattr.study_time|date:"H:i" }}</li>
    <li>Study description: {{ generalstudymoduleattr.study_description }}</li>
    <li>Procedure: {{ generalstudymoduleattr.procedure_code_meaning }}</li>
    <li>Requested procedure: {{ generalstudymoduleattr.requested_procedure_code_meaning }}</li>
    <li>Patient age: {{ patientstudy.patient_age_decimal|floatformat:1 }} years</li>
    <li>Patient height and weight: {{ patientstudy.patient_size|floatformat:2 }} m, {{ patientstudy.patient_weight|floatformat:1 }} kg</li>
    <li>Hospital: {{ equipment.institution_name }}</li>
    <li>
        Scanner:
        {{ equipment.manufacturer }} |
        {{ equipment.manufacturer_model_name }} |
        {{ equipment.station_name }}
    </li>
    <li>Display name: {{ equipment.unique_equipment_name.display_name }}</li>
    <li>Study UID: {{ generalstudymoduleattr.study_instance_uid }}</li>
    <li>Comment: {{ generalstudymoduleattr.ctradiationdose_set.get.comment }} </li>
    <li>Performing physician(s): {{ generalstudymoduleattr.performing_physician_name }}</li>
    <li>Operator(s): {{ generalstudymoduleattr.operator_name }}</li>
    <li>Test patient indicators? {{ generalstudymoduleattr.patientmoduleattr_set.get.not_patient_indicator }}</li>
  </ul>
<div class="row">
  <div class="col-md-3">
    <table class="table table-condensed table-bordered small" aria-describedby="Total number of events and DLP in the study">
      <tr>
        <th scope="col">Total number of events</th>
        <td>{{ accum_dose.total_number_of_irradiation_events }}</td>
      </tr>
      <tr>
        <th scope="col">Total DLP </th>
        <td>{{ accum_dose.ct_dose_length_product_total|floatformat:2 }} mGy&middot;cm</td>
      </tr>
    </table>
  </div>
</div>

<table class="table table-striped table-bordered small" aria-describedby="Exposure details for each acquisition contained in the study">
    <th scope="col">Acquisition protocol</th>
    <th scope="col">Type</th>
    <th scope="col">CTDI<sub>vol</sub> (mGy)</th>
    <th scope="col">DLP (mGy&middot;cm)</th>
    <th scope="col">Scanning length (mm)</th>
    <th scope="col">kVp</th>
    <th scope="col">mA</th>
    <th scope="col">Max mA</th>
    <th scope="col">Exposure time per rotation (s)</th>
    <th scope="col">Pitch</th>
    <th scope="col">Exposure time (s)</th>
    <th scope="col">Slice thickness (mm)</th>
    <th scope="col">Collimation (mm)</th>
    <th scope="col">X-ray modulation type</th>
    {% for event in events_all %}
      {% with source=event.ctxraysourceparameters_set.all %}
      {% with dose_check=event.ctdosecheckdetails_set.get %}
      {% with dose_check_person_alert=dose_check.tid1020_alert.get %}
      {% with dose_check_person_notification=dose_check.tid1020_notification.get %}
      {% with source_zero=source.0 %}
      {% with num_sources=event.number_of_xray_sources %}

      <tr>
        <td rowspan="2">{{ event.acquisition_protocol }}</td>
        <td rowspan="2">{{ event.ct_acquisition_type.code_meaning }}</td>
        <td rowspan="2">
          {{ event.mean_ctdivol|floatformat:2 }}
          {% if event.ctdiw_phantom_type.code_value == "113691" %}
            (32&nbsp;cm)
          {% elif event.ctdiw_phantom_type.code_value == "113690" %}
            (16&nbsp;cm)
          {% endif %}
        </td>
        <td rowspan="2">{{ event.dlp|floatformat:2 }}</td>
        <td rowspan="2">{{ event.scanninglength_set.get.scanning_length|floatformat:0 }}</td>
        {% if num_sources != 2 %}
          <td rowspan="2">{{ source_zero.kvp|floatformat:0 }}</td>
          <td rowspan="2">{{ source_zero.xray_tube_current|floatformat:0 }}</td>
          <td rowspan="2">{{ source_zero.maximum_xray_tube_current|floatformat:0 }}</td>
          <td rowspan="2">{{ source_zero.exposure_time_per_rotation|floatformat:3 }}</td>
        {% else %}
          <td>{{ source_zero.kvp|floatformat:0 }}</td>
          <td>{{ source_zero.xray_tube_current|floatformat:0 }}</td>
          <td>{{ source_zero.maximum_xray_tube_current|floatformat:0 }}</td>
          <td>{{ source_zero.exposure_time_per_rotation|floatformat:3 }}</td>
        {% endif %}
        <td rowspan="2">{{ event.pitch_factor|floatformat:3 }}</td>
        <td rowspan="2">{{ event.exposure_time|floatformat:3 }}</td>
        <td rowspan="2">{{ event.nominal_single_collimation_width|floatformat:3 }}</td>
        <td rowspan="2">{{ event.nominal_total_collimation_width|floatformat:2 }}</td>
        <td rowspan="2">{{ event.xray_modulation_type }}</td>
      </tr>
      {% if num_sources == 2 %}
        {% with source_one=source.1 %}
        <tr>
          <td>{{ source_one.kvp|floatformat:0 }}</td>
          <td>{{ source_one.xray_tube_current|floatformat:0 }}</td>
          <td>{{ source_one.maximum_xray_tube_current|floatformat:0 }}</td>
          <td>{{ source_one.exposure_time_per_rotation|floatformat:3 }}</td>
        </tr>
        {% endwith %}
      {% else %}
        <tr></tr>
      {% endif %}


        <tr>
            <td colspan="14">
              <strong>Comment</strong> {{ event.comment }}<br>
              {% if dose_check.dlp_alert_value_configured or dose_check.ctdivol_alert_value_configured %}
                <strong>Dose Check Alerts</strong>
                {% if dose_check.dlp_alert_value_configured %}
                  DLP alert is configured at {{ dose_check.dlp_alert_value|floatformat:2 }} mGy&middot;cm with
                  {% if dose_check.accumulated_dlp_forward_estimate %}
                    an accumulated forward estimate of
                    {{ dose_check.accumulated_dlp_forward_estimate|floatformat:2 }} mGy&middot;cm.
                  {% else %}
                    no accumulated forward estimate recorded.
                  {% endif %}
                {% endif %}
                {% if dose_check.ctdivol_alert_value_configured %}
                  CTDIvol alert is configured at {{ dose_check.ctdivol_alert_value|floatformat:2 }} mGy with
                  {% if dose_check.accumulated_ctdivol_forward_estimate %}
                    an accumulated forward estimate of
                    {{ dose_check.accumulated_ctdivol_forward_estimate|floatformat:2 }} mGy.
                  {% else %}
                    no accumulated forward estimate recorded.
                  {% endif %}
                {% endif %}
                {% if dose_check.alert_reason_for_proceeding %}
                  Reason for proceeding: {{ dose_check.alert_reason_for_proceeding }}
                {% endif %}
                {% if dose_check_person_alert.person_name %}
                  Person authorizing irradiation: {{ dose_check_person_alert.person_name }}
                {% endif %}
                <br>
              {% endif %}
              {% if dose_check.dlp_notification_value_configured or dose_check.ctdivol_notification_value_configured %}
                <strong>Dose Check Notifications</strong>
                {% if dose_check.dlp_notification_value_configured %}
                  DLP notification is configured at {{ dose_check.dlp_notification_value|floatformat:2 }} mGy&middot;cm with
                  {% if dose_check.dlp_forward_estimate %}
                    an accumulated forward estimate of
                    {{ dose_check.dlp_forward_estimate|floatformat:2 }} mGy&middot;cm.
                  {% else %}
                    no accumulated forward estimate recorded.
                  {% endif %}
                {% endif %}
                {% if dose_check.ctdivol_notification_value_configured %}
                  CTDIvol notification is configured at {{ dose_check.ctdivol_notification_value|floatformat:2 }} mGy with
                  {% if dose_check.ctdivol_forward_estimate %}
                    a forward estimate of
                    {{ dose_check.ctdivol_forward_estimate|floatformat:2 }} mGy.
                  {% else %}
                    no forward estimate recorded.
                  {% endif %}
                {% endif %}
                {% if dose_check.notification_reason_for_proceeding %}
                  Reason for proceeding: {{dose_check.notification_reason_for_proceeding }}
                {% endif %}
                {% if dose_check_person_notification.person_name %}
                  Person authorizing irradiation: {{ dose_check_person_notification.person_name }}
                {% endif %}
              {% endif %}
            </td>
        </tr>
      {% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}
    {% endfor %}
</table>


{% if is_paginated %}
<p class="pagination">
    {% if has_next %}
    <a class="older" href="?page={{ next }}" title="View older posts">Older</a>
    {% endif %}
    {% if has_next and has_previous %} | {% endif %}
    {% if has_previous %}
    <a class="newer" href="?page={{ previous }}" title="View newer posts">Newer</a>
    {% endif %}
</p>
{% endif %}
{% endwith %}{% endwith %}{% endwith %}
{% endblock %}
