{% extends "remapp/base.html" %}

{% block headextras %}
  <!-- Bootstrap-datepicker CSS -->
  <!-- Bootstrap-datepicker JavaScript
  ================================================== -->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/datepicker3.css">

  <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>



  <!-- Internet Explorer (up to version 8) doesn't support array indexOf. The script
  below adds the functionality if it is missing. -->
  <script>
    if (!Array.prototype.indexOf) {
      Array.prototype.indexOf = function (obj, start) {
        for (var i = (start || 0), j = this.length; i < j; i++) {
          if (this[i] === obj) {
            return i;
          }
        }
        return -1;
      }
    }
  </script>

  {% block headscript %}
  {% endblock %}
{% endblock %}


{% block navhelp %}
        <li>
            <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/netdicom.html" target="_blank" data-toggle="tooltip" title="DICOM store & query-retrieve documentation - opens in a new tab">
                DICOM store and query-retrieve documentation
            </a>
        </li>
        <li>
            <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/install-prep.html#resources-for-creating-rdsr-for-older-toshiba-ct-scanners" target="_blank" data-toggle="tooltip" title="Generating RDSR from older Toshiba CT - opens in a new tab">
                Generating RDSR from older Toshiba scanners
            </a>
        </li>
{% endblock %}

{% block importnav %}
  <li class="dropdown active">{% endblock %}

{% block mainblock %}

  <script src="{{ STATIC_URL }}js/dicom.js"></script>
  <script src="{{ STATIC_URL }}js/django_reverse/reverse.js"></script>

<div class="row">
    <div class="col-md-4 col-md-offset-1">

        <h3>Current DICOM SCP statuses</h3>
        Remote QR nodes
        <dl class="dl-horizontal">
            {% autoescape off %}
            {% for qr_node in qr_nodes %}
                <script>
                    $(document).ready(
                        function get_qr_status(json) {
                            $.ajax(
                                {
                                    url: "{% url 'get_qr_status' %}",
                                    data: {
                                        node: '{{ qr_node.pk }}',
                                        csrfmiddlewaretoken: '{{ csrf_token }}'
                                    },
                                    type: "POST",
                                    success: function (data) {
                                        $('#qrnode{{ qr_node.pk }}').html(data);
                                    }
                                }
                            )
                        }
                    )
                </script>
                <dt>{{ qr_node.name }}</dt>
                <dd id="qrnode{{ qr_node.pk }}">Waiting for verification response</dd>

            {% endfor %}

            {% endautoescape %}
        </dl>
        Local Store nodes
        <dl class="dl-horizontal">
            {% autoescape off %}
            {% for store_node in store_nodes %}
                <script>
                    $(document).ready(
                        function get_store_status(json) {
                            $.ajax(
                                {
                                    url: "{%  url 'get_store_status' %}",
                                    data: {
                                        node: '{{ store_node.pk }}',
                                        csrfmiddlewaretoken: '{{ csrf_token }}'
                                    },
                                    type: "POST",
                                    success: function (data) {
                                        $('#storenode{{ store_node.pk }}').html(data);
                                    }
                                }
                            )
                        }
                    )
                </script>
                <dt>{{ store_node.name }}</dt>
                <dd id="storenode{{ store_node.pk }}">Waiting for verification response</dd>

            {% endfor %}

            {% endautoescape %}
        </dl>

        <h3>Query retrieve dialogue</h3>

        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>


    <div class="col-md-5 col-md-offset-1">
      <div class="row">
        <div id="qr-status"></div>
        <div id="move-button"></div>
      </div>
      <div class="row">
        <div id="move-status"></div>
      </div>
      <div class="row">
        <div id="subops"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <hr>
    <div class="col-md-4 col-md-offset-4">
      <a class="btn btn-default btn-block" href="{% url 'dicom_summary' %}" role="button">Modify DICOM nodes</a>
    </div>
  </div>
  <script src="{{ STATIC_URL }}js/datepicker.js"></script>

{% endblock %}
