{% extends "remapp/base.html" %}

{% block exportnav %}
  <li class="active">
{% endblock %}

{% block navhelp %}
  <li>
    <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/i_exporting.html" target="_blank" data-toggle="tooltip"
       title="Study export documentation - opens in a new tab">
      Study export
    </a>
  </li>
{% endblock %}



{% block mainblock %}
  {% load humanize %}
  {% load remappduration %}

  {% if admin.exportgroup %}

    <script>
        $(document).ready(
            function get_current_exports(json) {
                $.ajax(
                    {
                        url: "{%  url 'update_active' %}",
                        type: "POST",
                        success: function (data) {
                            $('#current').html(data);
                            setTimeout(function () {
                                get_current_exports();
                            }, 1500)
                        }
                    }
                )
            }
        )
    </script>
    <div id="current"></div>

    <script>
        $(document).ready(
            function get_error_exports(json) {
                $.ajax(
                    {
                        url: "{%  url 'update_error' %}",
                        type: "POST",
                        success: function (data) {
                            $('#error').html(data);
                            setTimeout(function () {
                                get_error_exports();
                            }, 60000)
                        }
                    }
                )
            }
        )
    </script>
    <div id="error"></div>


    <script>
        $(document).ready(
            function get_complete_exports(json) {
                $.ajax(
                    {
                        url: "{% url 'update_complete' %}",
                        data: {
                            latest_complete_pk: '{{latest_complete_pk}}',
                            in_pid_group: '{{ admin.pidgroup }}'
                        },
                        type: "POST",
                        success: function (data) {
                            $('#complete').html(data);
                            setTimeout(function () {
                                get_complete_exports();
                            }, 1500)
                        }
                    }
                )
            }
        )
    </script>
    <div id="complete">latest_current_pk is {{ latest_complete_pk }}</div>

    <h4>Completed export tasks</h4>
    <form action="{% url 'deletefile' %}" method="POST">
      <table class="table table-striped" aria-describedby="Completed export tasks">
        <th scope="col">Exported</th>
        <th scope="col">Modality</th>
        <th scope="col">Export type</th>
        <th scope="col">Export filters</th>
        <th scope="col">No. records</th>
        <th scope="col">Export time</th>
        <th scope="col">User</th>
        <th scope="col">Download</th>
        <th scope="col"><input type="checkbox" id="select_all"/> Delete?</th>
        {% for tsk in complete %}
          <tr>
            <td>{{ tsk.export_date|naturaltime }}</td>
            <td>{{ tsk.modality }}</td>
            <td>{{ tsk.export_type }}</td>
            <td>{{ tsk.export_summary|safe }}</td>
            <td>{{ tsk.num_records }}</td>
            <td>{{ tsk.processtime|naturalduration }} </td>
            <td>{{ tsk.export_user }}</td>
            {% if not tsk.includes_pid or tsk.includes_pid and admin.pidgroup %}
              {% if tsk.task_id %}
                <td><a href="{% url 'download' task_id=tsk.task_id %}">{{ tsk.filename }}</a></td>
              {% else %}
                <td>{{ tsk.filename }}</td>
              {% endif %}
            {% else %}
              <td>You don't have sufficient privileges to download this export</td>
            {% endif %}
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="checkbox" name="tsk{{ tsk.task_id }}" value="{{ tsk.task_id }}">
                </label>
              </div>
            </td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="7"></td>
          <td>
            {% if complete.count > 0 %}
              <button type="submit" class="btn btn-default">Delete</button>
            {% endif %}
          </td>
        </tr>
      </table>
    </form>

  {% else %}
    <p>
      Sorry, you don't have enough permissions to enable study export.
    </p>
  {% endif %}



{% endblock %}

{% block jsblock %}
  <script>
      //select all checkboxes
      $("#select_all").change(function () {  //"select all" change
          $(".checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
      });

      //".checkbox" change
      $('.checkbox').change(function () {
          //uncheck "select all", if one of the listed checkbox item is unchecked
          if (false === $(this).prop("checked")) { //if this item is unchecked
              $("#select_all").prop('checked', false); //change "select all" checked status to false
          }
          //check "select all" if all checkbox items are checked
          if ($('.checkbox:checked').length === $('.checkbox').length) {
              $("#select_all").prop('checked', true);
          }
      });
  </script>



{% endblock %}
