{% extends "remapp/base.html" %}
{% load i18n %}

{% block headextras %}
    <script src="{{ STATIC_URL }}js/sorttable.js"></script>
{% endblock %}

{% block navhelp %}
    <li>
        <a href="https://docs.openrem.org/en/{{ admin.docsversion }}/i_navigate.html" target="_blank"
           data-toggle="tooltip"
           title="Web interface documentation - opens in a new tab">
            Web interface documentation
        </a>
    </li>
{% endblock %}


{% block toprow %}
    <h1><img src="{{ STATIC_URL }}img/openrem0055.png" height="55" width="55" class="openrem-logo">OpenREM database
        browser and export</h1>

    {% if not users_in_groups.any %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">There are no users in any of the groups</h3>
            </div>
            <div class="panel-body">
                <p>
                    You will need to allocate users to a group before using this system -
                    <a href="{% url 'admin:auth_user_changelist' %}">you can do this here.</a> You will need to know the
                    superuser
                    username and password you used when you installed the database.
                </p>
                <p>
                    Make sure there is at least one Admin user. You can return to the user config
                    page later by using the 'Manage users' link on the admin menu.
                </p>
            </div>
        </div>
    {% elif not users_in_groups.admin %}
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">There are no users in the admin group</h3>
            </div>
            <div class="panel-body">
                <p>
                    Make sure there is at least one Admin user &mdash; <a href="{% url 'admin:auth_user_changelist' %}">you
                    can do this here.</a> You
                    will need to know the superuser
                    username and password you used when you installed the database.
                </p>
                <p>
                    You can return to the user config
                    page later by using the 'Manage users' link on the admin menu.
                </p>
            </div>
        </div>
    {% endif %}

    <p>
        {# Translators: Number of studies in DB listed above home-page table. No final full-stop in English due to a.m./p.m. #}
        {% now "DATETIME_FORMAT" as current_time %}
        {% blocktrans with total_studies=homedata.total trimmed%}
            There are {{ total_studies }} studies in this database. Page last refreshed on {{ current_time }}
        {% endblocktrans %}
        {% if user.is_authenticated %}
            {% if request.user.userprofile.plotCharts %}
                {% trans "Chart plotting on." %}
            {% else %}
                {% trans "Chart plotting off." %}
            {% endif %}
        {% endif %}
    </p>

    {% if admin.admingroup %}
        {% if admin_questions_true %}
            <table class="table table-bordered" aria-describedby="Admin questions regarding non-patient exposures">
                {% if admin_questions.not_patient_indicator_question %}
                    <tr>
                        <td>
                            <strong>Admin question:</strong> Identifying non-patient exposures has changed in release
                            0.8. Would you
                            like this install to match the behaviour of release 0.7.4 and earlier?
                            <a href="{% url 'admin_questions_hide_not_patient' %}" role="button"
                               class="btn btn-default pull-right">
                                Hide
                            </a>
                            <a href="{% url 'not_patient_indicators_as_074' %}" role="button"
                               class="btn btn-default pull-right">
                                Restore 0.7.4 patterns
                            </a>
                            <a href="{% url 'not_patient_indicators' %}" role="button"
                               class="btn btn-default pull-right">
                                More information
                            </a>
                        </td>
                    </tr>
                {% endif %}
            </table>
        {% endif %}
    {% endif %}
{% endblock %}


{% block mainblock %}

    <script>
        {% if not migration_complete %}
        $(document).ready(
            function populate_summary_progress(json) {
                $.ajax(
                    {
                        url: "{% url 'populate_summary_progress' %}",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                        type: "POST",
                        success: function (data) {
                            $('#summary-progress').html(data);
                            setTimeout(function() {
                                populate_summary_progress();
                            }, 2000);
                        }
                    }
                )
            }
        ); {% endif %}
        $(document).ready(
            function get_modality_numbers(json) {
                $.ajax(
                    {
                        url: "{% url 'update_modality_totals' %}",
                        type: "POST",
                        dataType: "json",
                        success: function (json) {
                            $('#total-ct').html(json.total_ct);
                            $('#total-rf').html(json.total_rf);
                            $('#total-mg').html(json.total_mg);
                            $('#total-dx').html(json.total_dx);
                        }
                    }
                )
            }
        )
    </script>
    <p>
    <p id="summary-progress"></p>
    </p>
    <table class="table table-bordered" aria-describedby="Number of studies for each modality">
        <tr>
            {% for modality, details in modalities.items %}
                {% with modality|add:'_summary_list_filter' as url_name %}
                    <th scope="col" style="width:25%"><a href="{% url url_name|lower %}">{{ details.name }}</a></th>
                {% endwith %}
            {% endfor %}
        </tr>
        <tr>
            {% for modality, details in modalities.items %}
                <td>
                    <div id="total-{{ modality|lower }}">{{ details.count }}</div>
                </td>
            {% endfor %}
        </tr>
    </table>

    {% for modality, details in modalities.items %}
        <script>
            $(document).ready(
                function get_latest_studies(json) {
                    $.ajax(
                        {
                            url: "{% url 'update_latest_studies' %}",
                            data: {modality: '{{ modality }}'},
                            type: "POST",
                            success: function (data) {
                                $('#{{ modality }}-table').html(data);
                                {% if home_config.display_workload_stats %}
                                    $.ajax(
                                        {
                                            url: "{% url 'update_study_workload' %}",
                                            data: {modality: '{{ modality }}'},
                                            type: "POST",
                                            success: function (data) {
                                                $('#{{ modality }}-table').append(data);
                                            }
                                        }
                                    );
                                {% endif %}
                            }
                        }
                    )
                }
            )
        </script>


        <h4>{{ details.name }} summary table</h4>
        <div id="{{ modality }}-table">
            <table class="table table-bordered table-hover row-clickable" aria-describedby="{{ details.name }} summary table">
                <tr>
                    <th scope="col" style="width:25%">{% trans "System name" %}</th>
                    <th scope="col" style="width:25%">{% trans "Total number of studies" %}</th>
                    <th scope="col" style="width:25%">{% trans "Latest study" %}</th>
                    {% if home_config.display_workload_stats %}
                        <th scope="col" style="width:12.5%">{% blocktrans with home_config.day_delta_a as day_delta trimmed %}
                            Number in last {{ day_delta }} days{% endblocktrans %}</th>
                        <th scope="col" style="width:12.5%">{% blocktrans with home_config.day_delta_b as day_delta trimmed %}
                            Number in last {{ day_delta }} days{% endblocktrans %}</th>
                    {% endif %}
                </tr>
                <tr>
                    <td colspan={% if home_config.display_workload_stats %}"5"{% else %}"3"{% endif %}>
                    {% trans "Please wait - querying the database" %}</td>
                </tr>
            </table>
        </div>
    {% endfor %}




    {% if not modalities %}
        <h4>No data to display in the system</h4>
        <p>There are currently no studies from any modality stored in the database. Add some to see a summary of each on
            this page.</p>
    {% endif %}

{% endblock %}
