{% extends "remapp/base.html" %}


{% block mainblock %}

<form method="post">{% csrf_token %}

<table class="table table-striped" aria-describedby="Summary of studies to delete">
    <tr>
        <th scope="col">Institution</th>
        <th scope="col">Make | Model | Station name</th>
        <th scope="col">Date</th>
{% if exam.modality_type == "CT" %}
        <th scope="col">Study description | Accession number</th>
        <th scope="col">Number of events</th>
        <th scope="col">Dose Length Product Total mGy.cm</th>
{% elif exam.modality_type == "RF" %}
        <th scope="col">Study description | Accession number</th>
        <th scope="col">Number of events</th>
        <th scope="col">DAP Total cGy.cm2</th>
        <th scope="col">Dose at RP total Gy</th>
        <th scope="col">Physician</th>
{% elif exam.modality_type == "MG" %}
        <th scope="col">Protocol | Accession number</th>
        <th scope="col">Number of events</th>
        <th scope="col">Laterality</th>
        <th scope="col">Accumulated AGD (mGy)</th>
{% elif exam.modality_type == "DX" or exam.modality_type == "CR" %}
        <th scope="col">Protocol | Accession number</th>
        <th scope="col">Number of events</th>
        <th scope="col">DAP Total cGy.cm<sup>2</sup></th>
{% endif %}
    </tr>
    <tr>
            <td>{{ exam.generalequipmentmoduleattr_set.get.institution_name }}</td>
            <td>
                {{ exam.generalequipmentmoduleattr_set.get.manufacturer }} |
                {{ exam.generalequipmentmoduleattr_set.get.manufacturer_model_name }} |
                {{ exam.generalequipmentmoduleattr_set.get.station_name }}
            </td>
            <td>{{ exam.study_date|date:"Y-m-d" }} {{ exam.study_time|date:"H:i" }}</td>
{% if exam.modality_type == "CT" %}
            <td>
                <a href="{% url 'ct_detail_view' pk=exam.id %}">{{ exam.study_description }}</a> |
                {{ exam.accession_number }}
            </td>
            <td>{{ exam.ctradiationdose_set.get.ctaccumulateddosedata_set.get.total_number_of_irradiation_events }}</td>
            <td>{{ exam.ctradiationdose_set.get.ctaccumulateddosedata_set.get.ct_dose_length_product_total|floatformat:2 }}</td>
{% elif exam.modality_type == "RF" %}
            <td>
                <a href="{% url 'rf_detail_view' pk=exam.id %}">{{ exam.study_description }}</a> |
                {{ exam.accession_number }}
            </td>
            <td>{{ exam.projectionxrayradiationdose_set.get.irradeventxraydata_set.count }}</td>
            <td>
                {% for record in exam.projectionxrayradiationdose_set.get.accumxraydose_set.all %}
                    {% if exam.projectionxrayradiationdose_set.get.accumxraydose_set.all.count > 1 %}
                        {{ record.acquisition_plane }}:
                    {% endif %}
                    {{ record.accumintegratedprojradiogdose_set.get.convert_gym2_to_cgycm2|floatformat:1 }}
                    <br>
                {% endfor %}
            </td>
            <td>
                {% for record in exam.projectionxrayradiationdose_set.get.accumxraydose_set.all %}
                    {% if exam.projectionxrayradiationdose_set.get.accumxraydose_set.all.count > 1 %}
                        {{ record.acquisition_plane }}:
                    {% endif %}
                    {{ record.accumintegratedprojradiogdose_set.get.dose_rp_total|floatformat:6 }}
                    <br>
                {% endfor %}
            </td>

            <td>{{ exam.performing_physician_name }}</td>
{% elif exam.modality_type == "DX" or exam.modality_type == "CR" %}
            <td>
                <a href="{% url 'dx_detail_view' pk=exam.id %}">{{ exam.study_description }}</a> |
                {{ exam.accession_number }}
            </td>
            <td>{{ exam.projectionxrayradiationdose_set.get.irradeventxraydata_set.count }}</td>
            <td>
                {% for record in exam.projectionxrayradiationdose_set.get.accumxraydose_set.all %}
                    {% if exam.projectionxrayradiationdose_set.get.accumxraydose_set.all.count > 1 %}
                        {{ record.acquisition_plane }}:
                    {% endif %}
                    {{ record.accumintegratedprojradiogdose_set.get.convert_gym2_to_cgycm2 | floatformat:1 }}
                {% endfor %}
            </td>
{% elif exam.modality_type == "MG" %}
            <td>
                <a href="{% url 'mg_detail_view' pk=exam.id %}">{{ exam.procedure_code_meaning }}</a> |
                {{ exam.accession_number }}
            </td>
            <td>{{ exam.projectionxrayradiationdose_set.get.irradeventxraydata_set.count }}</td>
            <td>{{ exam.projectionxrayradiationdose_set.get.accumxraydose_set.get.accummammographyxraydose_set.all.0.laterality }}</td>
            <td>{{ exam.projectionxrayradiationdose_set.get.accumxraydose_set.get.accummammographyxraydose_set.all.0.accumulated_average_glandular_dose }}</td>
{% endif %}
        </tr>
{% if exam.modality_type == "MG" %}
        {% if exam.projectionxrayradiationdose_set.get.accumxraydose_set.get.accummammographyxraydose_set.all.count < 2 %}
            <tr></tr>
        {% else %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ exam.projectionxrayradiationdose_set.get.accumxraydose_set.get.accummammographyxraydose_set.all.1.laterality }}</td>
                <td>{{ exam.projectionxrayradiationdose_set.get.accumxraydose_set.get.accummammographyxraydose_set.all.1.accumulated_average_glandular_dose }}</td>
            </tr>
        {% endif %}

{% endif %}
</table>

    Are you sure you want to delete the above study with UID {{ exam }}?
    <input type="hidden" name="return_url" value="{{ return_url }}" />
    <input type="submit" value="Delete" class="btn btn-primary" />
    <button id="backButton" class="btn btn-default">Cancel</button>

    <script>
        $("#backButton").click(function(e) {
            e = e || window.event; // support  for IE8 and lower
            e.preventDefault(); // stop browser from doing native logic
            window.history.back();
        });
    </script>
</form>


{% endblock %}
